<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SecondChatMapper">

    <update id="changeUsername">
        update secondChatList set user_name = #{afterUser_name} where user_name = #{beforeUser_name}
    </update>
    <update id="changeCommentName">
        update secondChatList set comment_name = #{afterComment_name} where comment_name = #{beforeComment_name}
    </update>
</mapper>